.card-hover:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.card-hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cal-hover li:hover{
    background-color: rgb(187, 186, 186);
    border-radius: 20px;
    cursor: pointer;
}
.cal-hover li{
    padding: 0 3px;
    scale: 0.8;
}
.todayactive{
    background-color: rgb(143, 153, 143);
    border-radius: 20px;
}
#root{
    padding: 0;
}
@media (max-width:520px) {
    
    .responsive-width{
        width: 700px;
        justify-content: flex-start !important;
        
    }
    .scroll-none::-webkit-scrollbar{
        // display: none;
        width: 4px;
        height: 4px;
    }
    .scroll-none::-webkit-scrollbar-thumb{
        background-color: rgb(109, 109, 109);

    }
}

.explor-card-scroll::-webkit-scrollbar{
    display: none;

}
